body{
    background-color: darkgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
